@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: #5c0078;
  --primary-color-darker: #440159;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Poppins', 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

table {
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
}

table th, table td {
  padding: 5px;
  text-align: justify;
}

table th {
  border-bottom: 2px solid #ddd;
  padding: 10px;
}

.selecionado {
  background-color: #c0c0c0;
}

.resultado {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.estado {
  padding: 10px;
  border-radius: 4px;
}

.normal {
  background-color: #19682d;
  color: white;
}

.alerta {
  background-color: #d5c519;;
}

.alarmante {
  background-color: #d57719;
}

.critico {
  background-color: #e31717;
  color: white;
}